body {
  margin: 30px;
  font-family: sans-serif;
}

.camper {
  border-bottom: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  display: grid;
  grid-template-columns: 0fr 1fr 6fr 4fr 4fr;
  grid-template-rows: min-content;
}

.camper-inner {
  height: 50px;
  border-right: 2px solid lightgray;
}

.camper-inner-inner {
  padding-top: 5px;
}

.camper-name {
  margin-left: 10px;
}

.header-name {
  padding-top: 15px;
  margin-left: 10px;
}

.camper-alltime, .camper-recent, .camper-index {
  padding-top: 15px;
}

.camper-img {
  border: 2px solid green;
  border-radius: 5px;
  margin-right: 10px;
}

.even {
  background-color: #f6f6f6;
}

.title {
  background-color: green;
  width: 100%;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

a {
  color: green;
}

.header-row {
  font-size: 18px;
}